// Colors event types
// type 1 : service
$rbc-event-bgc-1: rgba(250, 226, 217, 0.592);
$rbc-event-selected-bgc-1: rgba(250, 226, 217, 0.9);
$rbc-event-content-bgc-1: rgba(244, 198, 182, 0.592);
$rbc-event-content-selected-bgc-1: rgba(244, 198, 182, 0.9);
$rbc-event-brdr-color-1: rgba(218, 58, 0,1);


// type 2 : reminder
$rbc-event-bgc-2: rgba(243, 242, 227, 0.592);
$rbc-event-selected-bgc-2: rgba(243, 242, 227, 0.9);
$rbc-event-content-bgc-2: rgba(228, 228, 161, 0.957);
$rbc-event-content-selected-bgc-2: rgba(231, 231, 157, 0.9);
$rbc-event-brdr-color-2: rgb(255, 251, 0);


// type 2 : time off
$rbc-event-bgc-3: rgba(231, 244, 254, 0.592);
$rbc-event-selected-bgc-3: rgba(231, 244, 254,  0.9);
$rbc-event-content-bgc-3: rgba(193, 228, 255, 0.592);
$rbc-event-content-selected-bgc-3: rgba(193, 228, 255, 0.9);
$rbc-event-brdr-color-3: rgba(94, 176, 248,1);
